<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee;http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

    
 
	
	<servlet>
	    <servlet-name>Export</servlet-name>
	    <servlet-class>com.appspot.Accent.controller.ServletExport</servlet-class>	    
	</servlet>
	<servlet-mapping>
	    <servlet-name>Export</servlet-name>
	    <url-pattern>/Userlijst.zip</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ImportServlet</servlet-name>
		<servlet-class>com.appspot.Accent.controller.ServletImportLeerlingen</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImportServlet</servlet-name>
		<url-pattern>/Importeer.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ImportStages</servlet-name>
		<servlet-class>com.appspot.Accent.controller.ServletImportStages</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImportStages</servlet-name>
		<url-pattern>/Importeers.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StageAanmakenServlet</servlet-name>
		<servlet-class>com.appspot.Accent.controller.StageMakenServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>StageAanmakenServlet</servlet-name>
		<url-pattern>/StageAanmaken.do</url-pattern>
	</servlet-mapping>
	
<!--  	<servlet>
		<servlet-name>WachtwoordWijzigenServlet</servlet-name>
		<servlet-class>com.appspot.Accent.controller.WachtwoordWijzigenServlet.java</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>WachtwoordWijzigenServlet</servlet-name>
		<url-pattern>/WachtwoordWijzigen.do</url-pattern>
	</servlet-mapping>
-->
	
	
	<servlet>
		<servlet-name>GebruikerAanmakenServlet</servlet-name>
		<servlet-class>com.appspot.Accent.controller.GebruikerAanmakenServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GebruikerAanmakenServlet</servlet-name>
		<url-pattern>/GebruikerAanmaken.do</url-pattern>
	</servlet-mapping>
	
	
	
	

	<servlet>
		<servlet-name>OverzichtServlet</servlet-name>
		<servlet-class>com.appspot.Accent.controller.OverzichtServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>OverzichtServlet</servlet-name>
		<url-pattern>/Overzicht.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BeoordeelServlet</servlet-name>
		<servlet-class>com.appspot.Accent.controller.BeoordeelServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BeoordeelServlet</servlet-name>
		<url-pattern>/BeoordeelServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BeoordeelStageBedrijfServlet</servlet-name>
		<servlet-class>com.appspot.Accent.controller.BeoordeelStageBedrijfServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BeoordeelStageBedrijfServlet</servlet-name>
		<url-pattern>/BeoordeelStageBedrijfServlet.do</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.appspot.Accent.controller.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.appspot.Accent.controller.LogoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BeoordelingOphalenServlet</servlet-name>
		<servlet-class>com.appspot.Accent.controller.BeoordelingOphalenServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BeoordelingOphalenServlet</servlet-name>
		<url-pattern>/BeoordelingOphalenServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BeoordelingAanmakenServlet</servlet-name>
		<servlet-class>com.appspot.Accent.controller.BeoordelingAanmakenServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BeoordelingAanmakenServlet</servlet-name>
		<url-pattern>/BeoordelingAanmakenServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CompetentieOverzichtServlet</servlet-name>
		<servlet-class>com.appspot.Accent.controller.CompetentieOverzichtServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CompetentieOverzichtServlet</servlet-name>
		<url-pattern>/CompetentieOverzichtServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CompetentieAanpassenServlet</servlet-name>
		<servlet-class>com.appspot.Accent.controller.CompetentieAanpassenServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CompetentieAanpassenServlet</servlet-name>
		<url-pattern>/CompetentieAanpassenServlet.do</url-pattern>
	</servlet-mapping>
	
	
	
	

	<filter>
		<filter-name>LoginFilterServlet</filter-name>
		<filter-class>com.appspot.Accent.controller.LoginFilterServlet
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilterServlet</filter-name>
		<url-pattern>/Overzicht.do</url-pattern>
		<url-pattern>/BeoordeelServlet.do</url-pattern>
		<url-pattern>/BeoordelingOphalenServlet.do</url-pattern>
		<url-pattern>/index.jsp</url-pattern>
		<url-pattern>/BeoordelenLeerling.jsp</url-pattern>
		<url-pattern>/BeoordelingAanmaken.jsp</url-pattern>
		<url-pattern>/grafieken.jsp</url-pattern>
		<url-pattern>/Beheerder.jsp</url-pattern>
		<url-pattern>/header.jsp</url-pattern>
		<url-pattern>/imports.jsp</url-pattern>
	
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>



	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>com.appspot.Accent.controller.UserContextListener</listener-class>
	</listener>

</web-app>
